ul ul{
	display:none; 
}
ul li:hover>ul{
display:block;
}
ul li{
	float:left;
}
ul{
	background-color:#F97100;
    padding:0 10px;
	list-style:none;
	position:relative;
	display:inline-table;
	margin: 0px;
}
ul li:hover a{
	background:#FFC457;
	}
ul li a{
	display:block;
	padding:25px 40px;
	color:#ffffff;
	text-decoration:none;
}
ul ul {
	background:#539BFF;
	padding:0;
	position:absolute;
	top:100%;
	
}
ul ul li{
	float:none;
	border-top:1px solid #539BFF;
	border-bottom:1px solid #539BFF;
	position:relative;
	
}
ul ul li a{
	padding:15px 20px;
	color:#fff;
}
ul ul ul {
	position:absolute;
	left:100%;
	top:0%;
	}
#menu{
	background-color:#F97100;
	padding:2px;
}